*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Poppins fonts  */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}



/* Inter fonts  */

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* Shared styles */
.max-width{
    max-width: 1200px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}



/* nav styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 40px 140px;
    align-items: center;
}
.nav-search input{
    background-color: #F1F1F1;
    color: #CCCCCC;
    font-size: 16px;
    border: none;
    padding: 12px 25px;
    border-radius: 60px;
    width: 400px;
}
.nav-item{
    gap: 24px;
}
.nav-item .nav-list{
    list-style: none;
}
.nav-item .nav-list a{
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}
/* hero part styles */
.hero-container{
    background-color: #FEEAE9;
    border-radius: 20px;
    align-items: center;
}
.hero-content{
    padding: 60px 45px;
}
.hero-title{
    font-size: 50px;
    color: #1F1F1F;
}
.hero-description{
    font-size: 16px;
    color: #4E4E4E;
    padding: 8px 0px;
    line-height: 28px;
    width: 450px;
}
.hero-price-tag{
    font-size: 40px;
    color: #FF136F;
    padding: 10px 0px;
}
.hero-btn{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FF136F;
    border: none;
    padding: 15px 28px;
    border-radius: 5px;
}
.hero-img img{
    width: 400px;
}
.hero-img{
    padding: 30px 60px;
}